@import '~bootstrap/scss/bootstrap';

// Importo gli stili delle mie pagine
@import 'components/edit';
@import 'components/show';
@import 'components/home';

nav{
    padding: 5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li{
        font-size: 20px;
    }
    .logo_laravel{
        width: 100px;
        height: 100px;
    
        img{
            height: 100%;
            width: 100%;
        }
    }

}

// Stile generale pagina 
#app {
    background: linear-gradient(to bottom, #cdd8dc, #a4b4b9); // Gradiente da un azzurro-grigio medio ad un azzurro-grigio più scuro
    min-height: 100vh;
    height: 100%;

    .navbar {
        background-color: #1c3d58; // Blu navy
        border: none;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); 
    }
    
    .container {
        background-color: #f2efeb; // Crema un po' più scuro
        padding: 1rem;
        border-radius: 15px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }
}




