/* app.scss */
$navbar-blue: #1c3d58;

// Titolo h1
h1.display-5 {
    font-family: 'Arial', sans-serif; 
    font-weight: 600; 
    color: $navbar-blue; 
    padding-bottom: 8px; 
    margin-bottom: 24px; 

    .capitalize {
        text-transform: capitalize;
        font-size: 0.9em; 
        font-weight: 500; 
        color: $navbar-blue; 
        margin-left: 10px;  
        display: inline-block; 
        transition: all 0.3s ease;
        text-shadow: 0 0 0 transparent; // Nessuna ombra del testo inizialmente

        &:hover {
            transform: translateY(-3px); // Leggero effetto di "sollevamento"
            color: darken($navbar-blue, 10%); // Scurendo un po' il colore al passaggio del mouse
            text-shadow: 0 1px 3px rgba($navbar-blue, 0.2); // Ombra del testo per dare un leggero effetto di profondità
        }
    }
}

  




/* Stile per i link nel testo */
li {
    .p-name {
        transition: all 0.3s ease-in-out;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: lighten(#a4b4b9, 10%);;
            transform: scale(1.1);
            transform:translateY(-2px)
        }
    }

    a {
        color: $navbar-blue;  // Aggiorno al colore blu di riferimento
        text-decoration: none;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: darken($navbar-blue, 15%);  // Scurisco un po' il colore al passaggio del mouse
            text-decoration: underline;
        }
    }

    .btn {
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }

}

#add-btn {
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.3);
    }
}

// Stile per il bottone see more o see less 
.btn-custom {
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 25px;
    background: linear-gradient(to right, $navbar-blue, lighten($navbar-blue, 10%)); // Aggiorno con gradiente basato sul blu di riferimento
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover {
        background: linear-gradient(to right, lighten($navbar-blue, 10%), $navbar-blue);
    }
}


/* Stile per il titolo "Add a new project" */
h3.my-4 {
    font-size: 26px;
    font-weight: 500;
    color: $navbar-blue;
    background: linear-gradient(to bottom, #cdd8dc, #a4b4b9);
    padding: 10px 16px;
    border-radius: 8px;
    border: none; // Nessun bordo per una sensazione pulita

    /* Stile per il bottone "Add a new project" all'interno del titolo */
    a.btn-primary.my-3 {
        font-size: 18px;
        padding: 12px 24px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); // Ombra sottile per un look leggero
        transition: all 0.3s ease;
        background-color: darken($navbar-blue, 5%); 
        color: #fff; 

        &:hover {
            background-color: darken($navbar-blue, 10%); 
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08); 
        }
    }
}



