/* app.scss */

/* ... Resto degli stili ... */

/* Stile per il titolo "Add a new project" */
h3.my-4 {
    font-size: 24px;
    font-weight: 400;
    background-color: #f8f9fa;
    padding: 8px 12px;
    border-radius: 5px;

    /* Stile per il bottone "Add a new project" all'interno del titolo */
    a.btn-primary.my-3 {
        font-size: 18px;
        padding: 12px 24px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        }
    }
}

/* app.scss */

/* Stile per i link nel testo */
li{
    .p-name{
        transition: all 0.3s ease-in-out;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover{
            background-color: #f8f9fa;
            transform: scale(1.1);
        }
    }
    a {
        color: #007bff;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
    
        &:hover {
            color: #0056b3;
            text-decoration: underline;
        }
    }

    .btn{
        transition: all 0.3s ease-in-out;

        &:hover{
            transform: scale(1.1);
        }
    }

    
    
}

#add-btn{
    transition: all 0.3s ease-in-out;

    &:hover{
        transform: scale(1.3);
    }
}